<script type="text/javascript">
  $(document).ready(function(){
      $('.mediaTable').mediaTable();
      });
</script>
<div class="container">
  <div class="three columns card">
    <h3 style="line-height:10px;">O que rola?</h3>
    <%= t 'pages.root.fastdesc_html' %>
  </div>
  <div class="eight columns card">
    <h3 style="margin-bottom:0">Tags</h3>
    <h6>(clique pra filtrar)</h6>
    <% if @tag %>
      <%= content_tag :div, :class => "msg_box msg_notice" do %>
        <%= t('pages.tags.filtering_html', :tag => tag_span(@tag)) %>
        <%= link_to 'x', {:shift => @shift, :tag => nil}, :style => "float:right;" %>
      <% end %>
    <% end %>
    <% if @tags %>
      <div id="tags">
        <% for tag in @tags %>
          <%= link_to tag.name, {:shift => @shift, :tag => tag.name}, :title => "Filtrar por essa tag", :class => "label #{tag.css ?  "label-#{tag.css_class}" : ""}" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="three columns card">
    <h2><%= @city.name %></h3>
    <h4 style="line-height:0px;"><%= l(Date.today, :format => :cal_home) %></h4>
  </div>
</div>
<div class="hero-unit featured_banner_dark" style="padding:25px 0 50px 0; clear:both;">
  <%= cache "events-#{Date.today.to_s}-#{Event.most_recent_updated_at.to_i}-shift#{params[:shift]}" do %>
    <%= raw(event_calendar) %>
  <% end %>
  <% if false %>
    <%= link_to new_event_path, :class => "button next new", :style => "float:right;margin-right:19px;margin-top:12px;"  do %>
      <% t('pages.events.new').html_safe %>

    <% end %>
  <% end %>
</div>
<div class="container">
  <%= render :partial => "como_funciona" %>
</div>
