<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= stylesheet_link_tag "event_calendar" %>

<h1>Calendar</h1>

<h3>
  <%= @region.name %>
</h3>

<h4>
  <%=l(Date.today, :format => :cal_home) %>
</h4>
<% if @rio_events && @rio_events.present? %>
  <div>
    <% for revent in @rio_events %>
      <ul style="float:left">
        <li><%= revent.name %></li>
        <li><%= revent.short_text %></li>
        <li><%= revent.local %></li>
      </ul>
    <% end %>
  </div>
<% end %>

<%= raw(event_calendar) %>
<% if @tag %>
  <div>
    <%= t('pages.tags.filtering', :tag => @tag.name) %>
    <%= link_to 'limpar', {:shift => @shift, :tag => nil} %>
  </div>
<% end %>
<div id="tags">
  <% tag_cloud(@tags, %w(css1 css2 css3 css4 css5)) do |tag,css| %>
    <%= link_to tag.name, {:shift => @shift, :tag => tag.name}, :class => css, :title => "Filtrar por essa tag" %>
  <% end %>
</div>
<%= link_to t('pages.events.new'), new_event_path %>
