<%= stylesheet_link_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css' %>
<style type="text/css">
  li.tagit-choice.ui-widget-content.ui-state-default.ui-corner-all {
    border:0;
  }
  span.tagit-label.label {
    padding: .2em 18px .2em .5em;
  }
  ul.tagit li.tagit-choice {
    padding: 0;
    position: relative;
    line-height: inherit;
  }
  .tagit-label.label {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10.998px;
    line-height: 14px;
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    font-weight:normal;
  }
</style>

<div class="card fourteen columns">

  <div class="four columns" style="float:left; margin:10px 10px;">
    <%= image_tag @event.pic_big, :style => "border:1px solid black;" %>
  </div>
  <div class="eight columns" style="word-wrap:break-word;">
    <%= form_for Event.new, :url => create_event_path(@event.eid), :html => {:method => 'POST'} do |f| %>
      <div class="eight columns">
        <h1>
          <%= word_wrap(@event.name, 60) %>
        </h1>
        <h3>
          <i class="icon-calendar"></i> &nbsp;
          <%=l Time.zone.parse @event.start_time %>
        </h3>
        <h3>
          <i class="icon-map-marker"></i> &nbsp;
          <%= @event.location %>
        </h3>
        <div class="clearfix"></div>
        <h3 style="font-weight:bold;text-decoration:underline;">Tags:</h3>
        <p style="margin-left:10px;">
          <%= f.text_field :tag_list, {:id => "event-tags"} %>
        </p>
        <%= f.submit "salvar", {:id => "salvar"} %>
      </div>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
      $("#event-tags").tagit({
removeConfirmation: true,
caseSensitive: false,
onTagAdded: function(event, tag) {
spam = tag.find("span:first")
tag.find("span:first").addClass("label label-"+spam.text().toLowerCase());
}
});
      });
    </script>
