<div itemscope itemtype="http://data-vocabulary.org/Event" class="fourteen columns">
  <div class="four columns" style="float:left; margin:10px 10px;">
    <%= image_tag @event.pic_big, :style => "width:100%; border:1px solid black;", :itemprop => 'photo' %>
  </div>
  <div class="eight columns" style="word-wrap:break-word;">
    <h1 itemprop="summary">
      <%= word_wrap(@event.name, 60) %>
    </h1>
    <h3>
      <i class="icon-calendar"></i> &nbsp;
      <span>
        <meta itemprop="startDate" content="<%= Time.zone.parse(@event.start_time).iso8601 %>}"/>
        <%=l Time.zone.parse(@event.start_time) %>
      </span>
    </h3>
    <h3>
      <i class="icon-map-marker"></i> &nbsp;
      <span itemprop="location">
        <%= @event.location %>
      </span>
    </h3>
    <h3>
      <i class="icon-group red"></i> &nbsp;
      <%= @event.attending_count %>
    </h3>
    <% if @creator %>
      <h4>
        <i class="icon-user"></i> &nbsp;
        <%= link_to @creator.name, @creator.profile_url %>
        <%= image_tag @creator.pic_small, :style => "height:18px" %>
      </h4>
    <% end %>
    <h3>
      <i class="icon-external-link"></i> &nbsp;
      <i class="icon-facebook-sign fblue"></i> &nbsp;
      <%= link_to @event.name, "http://www.facebook.com/#{@event.eid}", :rel => 'nofollow' %>
    </h3>
    <h3>
      <i class="icon-tags"></i> &nbsp;
      <% @event_db.tags.each do |tag| %>
        <%= tag_span(tag) %>
      <% end %>
    </h3>
    <blockquote itemprop="description">
      <%= simple_format(word_wrap(@event.description, 60)) %>
    </blockquote>
  </div>
</div>
