<div class="card fourteen columns">
  <div class="four columns">
    <%= image_tag @event.pic_big, :style => "border:1px solid black;" %>
  </div>
  <div class="eight columns">
    <h1>
      <%= @event.name %>
    </h1>
    <h3>
      <i class="icon-calendar"></i> &nbsp;
      <%=l Time.at(@event.start_time) %>
    </h3>
    <h3>
      <i class="icon-map-marker"></i> &nbsp;
      <%= @event.location %>
    </h3>
    <% if @creator %>
      <h4>
        <i class="icon-user"></i> &nbsp;
        <%= link_to @creator.name, @creator.profile_url %>
        <%= image_tag @creator.pic_small, :style => "height:18px" %>
      </h4>
    <% end %>
    <h3>
      <i class="icon-tags"></i> &nbsp;
      <% @event_db.tags.each do |tag| %>
        <%= tag_span(tag) %>
      <% end %>
    </h3>
    <blockquote>
      <%= simple_format @event.description %>
    </blockquote>
  </div>
</div>
