<%= form_for @event_db, :url => create_event_path(@event_db), :html => {:method => 'POST'} do |f| %>
  <p>
    <%= @event["name"] %>
  </p>
  <p>
    <%= @event["location"] %>
  </p>
  <p>
    <%= link_to @creator["name"], @creator["profile_url"] %>
    <%= image_tag @creator["pic_small"] %>
  </p>
  <p>
    start: <%= Time.at(@event["start_time"]).to_s(:short) %>
    <br>
    end: <%= Time.at(@event["end_time"]).to_s(:short) %>
  </p>
  <p>
    <%= f.text_field :tag_list, {:id => "event-tags"} %>
  </p>
  <%= f.submit "salvar", {:id => "salvar"} %>
<% end %>
