<%= content_for :head do %>
  <%= stylesheet_link_tag 'foundation-buttons' %>
<% end %>

<div class="container boxed">
  <%=t('pages.events.process').html_safe %>
  <div class="alert alert-info" style="margin-top:15px;margin-bottom:15px;">
    <%= t('pages.events.login_required').html_safe %>
  </div>

  <%= link_to t('pages.events.start'), start_events_import_path, {:id => "start", :class => "red medium radius butt"} %>
</div>
