<style type="text/css">
  span.faded {
    color:gray;
    opacity:0.3;
  }
</style>

<div class="container boxed">
  <div style="float:right;position:relative;">
    <i class="icon-picture" style="position:absolute;font-size:22px;"></i>
    <%= image_tag @event.pic_big %>
    </fieldset>
  </div>
  <h1>
    <%= @event.name %>
  </h1>
  <h3>
    <i class="icon-calendar"></i> &nbsp;
    <%=l Time.at(@event.start_time) %>
  </h3>
  <h3>
    <i class="icon-map-marker"></i> &nbsp;
    <%= @event.location %>
  </h3>
  <% if @creator %>
    <h4>
      <i class="icon-user"></i> &nbsp;
      <%= link_to @creator.name, @creator.profile_url %>
      <%= image_tag @creator.pic_small, :style => "height:18px" %>
    </h4>
  <% end %>
  <h3>
    <i class="icon-tags"></i> &nbsp;
    <% @event_db.tags.each do |tag| %>
      <%= tag_span(tag) %>
    <% end %>
  </h3>
  <blockquote>
    <%= simple_format @event.description %>
  </blockquote>
</div>
