<%= content_for :head do %>
  <%= stylesheet_link_tag 'foundation-buttons' %>
<% end %>
<%= content_for :head do %>
  <%= stylesheet_link_tag 'wizard' %>
<% end %>
<% content_for :head do %>
  <%= stylesheet_link_tag 'jquery.fancybox' %>
  <%= javascript_include_tag 'jquery.fancybox' %>
<% end %>
<div class="container" style="margin-top:15px;">
  <%= render :partial => "/calendar/como_funciona" %>
  <div class="clear"></div>
  <h2>
    Seus Eventos no Facebook
  </h2>
  <% if @events.empty? %>
    Não conseguimos achar nenhum evento público e futuro criado por você, entre em contato se achar que há algo de errado
  <% else %>
    <% @events.each do |e| %>
      <div class="event_card card" data-href="<%= import_event_path(:eid => e.eid) %>">
        <span class="time">
          <%=l(Time.at(e.start_time), :format => :import) %>
        </span>
        <span class="name"><%= e.name %></span>
        <%= link_to t('pages.events.import'), import_event_path(eid:e.eid), :class => "fdlabel import" %>
      </div>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready (function(){
      $('.event_card.panel').css('cursor','pointer');
      $('.event_card.panel').click(function(){
        window.location = $(this).data('href');
        });
      });
    </script>
