<div class="container" style="margin-top:15px;">
  <%= render :partial => "/calendar/como_funciona" %>
  <div class="clear"></div>
  <h2 style="margin-top:15px;text-decoration:underline;font-weight:bold;">
    Seus Eventos no Facebook
  </h2>
  <% if @events.empty? %>
    <div>Ops! não pudemos achar nenhum evento publico que você tenha criado, marcado pra ir ou criado!<br>
      Se achar que há algo de errado, entre em contato.</div>
  <% else %>
    <% @events.each do |e| %>
      <div class="event_card card" data-href="<%= import_event_path(:eid => e.eid) %>">
        <span class="time">
          <%=l(Time.zone.parse(e.start_time), :format => :import) %>
        </span>
        <span class="name"><%= e.name %></span>
        <%= link_to t('pages.events.import'), import_event_path(eid:e.eid), :class => "fdlabel import open_ajax_2" %>
      </div>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready (function(){
      $('.event_card.panel').css('cursor','pointer');
      $('.event_card.panel').click(function(){
        window.location = $(this).data('href');
        });
      });
    </script>
