<div id="header">
  <div id="logo_area">
    <div class="logo_holder">
      <div class="hide-mobile" style="position:absolute;right:18px;top:5px;-webkit-transform:rotate(25deg);-moz-transform:rotate(25deg);-o-transform:rotate(25deg);-ms-transform:rotate(25deg);transform:rotate(25deg);">
        <%= content_tag 'span', t('mobile-friendly') %>
        <%= image_tag "iphone_front_128px.png", :style => "height:70px;" %>
      </div>
      <a href="/" title="Fubúia" class="left">
        <%= image_tag "afentop.png", :alt => "Fubúia", :id => "logo" %>
      </a>
    </div>
  </div>
  <div class="menu" id="category_menu">
    <div class="container">
      <div class="menu-categories-container">
        <nav id="nav-main" style="text-align:center">
          <ul id="menu-categories" class="menu" style="width:100%">
            <li>
              <%= link_to t('pages.root.menu.como_funciona'), "#como-funciona", :id => "a-como-funciona" %>
            </li>
            <li class="last">
              <%= link_to t('pages.root.menu.contato'), "#contact_form", :id => "contato", :class => "open_inline" %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div><!-- end #header -->
