<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en-US">
  <head>
    <title>Fubúia</title>
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="Keywords" content="festa balada hoje brasilia show rock underground" />
    <meta name="Description" content="Fubúia é um mural pra eventos do Facebook. Publique e ache eventos sem dor." />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="google-site-verification" content="uM5NhhzmH7zarpF73MznnObmREQsZRQUymk-SGfwZHA" />
    <%= csrf_meta_tags %>
    <!-- Google Fonts Call -->
    <link href="http://fonts.googleapis.com/css?family=Brawler" rel="stylesheet" type="text/css" />

    <!-- Get the Stylesheet -->
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag params[:controller] %>

    <!-- Get the JS -->
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag params[:controller] %>

    <!-- The Favicon -->
    <link rel="shortcut icon" href="/assets/favicon.png" />
    <%= yield :head %>
    <style type="text/css">
      #category_menu li a {
        font-size:15px;
      }
    </style>
  </head>
  <body class="sidebar_right">
    <div id="wrapper">

      <%= render :partial => "/layouts/header" %>

      <%= flash_messages %>

      <%= yield %>

      <%= render :partial => "/layouts/footer" %>

    </div>
    <script type="text/javascript">
      $(document).ready(function() {
          $(".open_ajax").fancybox({type: 'ajax',fixed:true,minHeight:'100%',closeClick:true});
          $(".open_ajax_2").fancybox({type: 'ajax',fixed:true,minHeight:'100%'});
          $(".open_inline").fancybox({type: 'inline',fixed:true,minHeight:'100%'});
          });

var uvOptions = {};
(function() {
 var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
 uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/yNjNbUXI6x6AV8lufo36Q.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
 })();
</script>
<script type="text/javascript">
  $(function(){
      $('#nav-main').menutron({
menuTitle:"Menu"
});
      });
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29502628-1']);
  _gaq.push(['_trackPageview']);

  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
 </script>
 <div id="contact_form" style="display:none;"> <form id="test_form" name="contact" method="post" action="http://whatever.you.want.com/up_to_you" class="well"> <p> <label for="name">Nome</label> <input type="text" name="name" id="name" value="" class="span3" /> </p> <p> <label for="email">Email</label> <input type="email" name="email" id="email" value="" class="span3" /> </p> <p> <label for="subject">Assunto</label> <input type="text" name="subject" id="subject" value="" class="span3" /> </p> <p> <label for="message">Mensagem</label> <textarea name="message" id="message"></textarea> </p> <div class="form-actions"> <button class="btn btn-primary" type="submit">Enviar</button> <button class="btn">Cancelar</button> </div> </form> </div>
  <script type="text/javascript" src="https://jquery-jsonp.googlecode.com/files/jquery.jsonp-2.2.0.min.js"></script>
 <script type="text/javascript">
   $('#test_form').submit(function(evt) {
       evt.preventDefault();  // Don't do default action

       // Replace this with your subdomain!
       var uvSubdomain = "fubuia";

       // Create an API client (non-trusted) within the UserVoice settings/channels section.  Paste the key only here.
       var uvKey = "thOQHcIU1cFFwX9YWj5Iw";

       // Grab the data we need to send
       var message = $('#message').val();
       var subject = $('#subject').val();
       var name = $('#name').val();
       var email = $('#email').val();

       // Execute the JSONP request to submit the ticket
       $.jsonp({
url: 'https://' + uvSubdomain + '.uservoice.com/api/v1/tickets/create_via_jsonp.json?callback=?',
data: {
client: uvKey,
ticket: {
message: message,
subject: subject
},
name: name,
email: email
},
success: function(data) {
alert('Successfully submitted ticket!');  // You might want to redirect the user here, or show a stylized message to them.
},
error: function(d, msg) {
alert("Error");  // Darn -- something went wrong.  You might want to display a message to the user.
}
});

return false;
});
</script>
  </body>
</html>
