<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xml:lang="en-US">
  <head>
    <title>Fubúia</title>
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="Keywords" content=" " />
    <meta name="Description" content=" " />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <%= csrf_meta_tags %>

    <!-- Google Fonts Call -->
    <link href="http://fonts.googleapis.com/css?family=Brawler" rel="stylesheet" type="text/css" />

    <!-- Get the Stylesheet -->
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag params[:controller] %>

    <!-- Get the JS -->
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag params[:controller]  %>

    <!-- The Favicon -->
    <link rel="shortcut icon" href="/assets/favicon.png" />
    <%= yield :head %>
    <style type="text/css">
      #category_menu li a {
        font-size:15px;
      }
    </style>
  </head>
  <body class="sidebar_right">
    <div id="wrapper">

      <%= render :partial => "/layouts/header" %>

      <%= flash_messages %>

      <%= yield %>

      <%= render :partial => "/layouts/footer" %>

    </div>
    <div id="fb-root"></div>
    <% unless Rails.env.test? %>
      <script src="http://connect.facebook.net/en_US/all.js"></script>
    <% else %>
      <%= javascript_tag '$.fx.off = true;' %>
      <%= javascript_include_tag "/assets/test/fb", "/assets/test/fb_stub", "/assets/test/commentstub" %>
    <% end %>
    <script> FB.init({ appId: <%= @app_data["app_id"] %>, cookie: true, xfbml: true, oauth: true }); $('#login').click(function(event) { event.preventDefault(); FB.login(function (response) { if (response.authResponse) { var access_token = response.authResponse.accessToken; window.location.replace('/callback?code='+access_token) } else { /*alert('denied access');*/ } },{scope:'email,user_location,user_events,offline_access'}) }); </script>
    <script type="text/javascript">
      var uvOptions = {};
(function() {
 var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
 uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/yNjNbUXI6x6AV8lufo36Q.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
 })();
</script>
<script type="text/javascript">
$(function(){
    $('#nav-main').menutron({
      menuTitle:"Menu"
      });
});
</script>
  </body>
</html>
